<div class="row">
  <div class="col-md-8">
    <h2>Search Assignments</h2>
    <form>
      <div class="form-group">
        <label style="width: 100px" for="ordernumber">SalesOrderID</label>
        <input type="text" id="ordernumber" name="ordernumber" [(ngModel)]="orderNumber"/>
      </div>
      <div class="form-group">
        <label style="width: 100px" for="orderlinenumber">SalesOrder Line</label>
        <input type="text" id="orderlinenumber" name="orderlinenumber" [(ngModel)]="orderLineNumber"/>
      </div>
      <button type="submit" (click)="search()" class="btn btn-default">Search</button>
      <button class="btn btn-danger" (click)="clear()">Clear search</button>
    </form>
  </div>
</div>
<div class="row" *ngIf="dataLoaded > 0">
  <div class="col-md-8">
    <h2>edit assignment</h2>
    <h4 *ngIf="editResponse">{{ editResponse.status }} {{ editResponse.statusText }} </h4>
    <h4 *ngIf="errorMessage">{{ errorMessage }}</h4>
    <form>
      <div class="form-group">
        <label class="form-control" id="assignmentID" name="assignmentID">{{ assignmentToEdit.assignmentID}}</label>
      </div>
      <div class="form-group">
        <div *ngFor="let assignee of assignmentToEdit.assignmentAssignees; let i=index" class="panel panel-default">
          <label>{{assignee.salesPerson.familyName}}</label>
          <label style="width: 100px" for="commission">SalesVolume</label>
          <input type="text" id="commission" name="commission" [(ngModel)]="assignee.salesVolumePercentage"/>
          <label style="width: 100px" for="salescommission">commission</label>
          <input type="text" id="salescommission" name="salescommission" [(ngModel)]="assignee.commissionPercentage"/>
        </div>
      </div>
      <button type="submit" (click)="edit()" class="btn btn-default">Save</button>
    </form>
  </div>
</div>
