<div [formGroup]="salesPersonForm">
  <div class="form-group col-xs-6">
    <label>Salesperson</label>
    <select class="form-control" formControlName="salesperson" data-value="">
        <option *ngFor="let salesperson of salespersonslist" [ngValue]="salesperson">
          {{ salesperson.firstName}} {{salesperson.lastName}}
        </option>
    </select>
  </div>
  <div class="form-group col-xs-6">
    <label for="salespercentage"> Commission %</label>
    <select  id="salespercentage" formControlName="selectcommission" data-value="">
      <option value="10.00">10 %</option>
      <option value="20.00">20 %</option>
      <option value="30.00">30 %</option>
      <option value="40.00">40 %</option>
      <option value="50.00">50 %</option>
      <option value="60.00">60 %</option>
      <option value="70.00">70 %</option>
      <option value="80.00">80 %</option>
      <option value="90.00">90 %</option>
      <option value="100.00">100 %</option>
      <option value="110.00">110 %</option>
      <option value="120.00">120 %</option>
      <option value="130.00">130 %</option>
      <option value="140.00">140 %</option>
    </select>
  </div>
  <div class="form-group col-xs-6">
    <label for="salesvolume">Volume %</label>
    <select  id="salesvolume" formControlName="selectSalesVolume" data-value="">
      <option value="10.00">10 %</option>
      <option value="20.00">20 %</option>
      <option value="30.00">30 %</option>
      <option value="40.00">40 %</option>
      <option value="50.00">50 %</option>
      <option value="60.00">60 %</option>
      <option value="70.00">70 %</option>
      <option value="80.00">80 %</option>
      <option value="90.00">90 %</option>
      <option value="100.00">100 %</option>
    </select>
  </div>
</div>
