<div [formGroup]="createRefinementPeriodForm">
  <div class="form-group">
    <label for="startDate">StartDate</label>
    <input id="startDate" type="date" formControlName="startDate"/>
    <label for="endDate">EndData</label>
    <input type="date" id="endDate" formControlName="endDate"/>
  </div>
  <div class="form-group">
    <div formArrayName="salespersons">
      <div *ngFor="let salesperson of createRefinementPeriodForm.controls.salespersons.controls; let i=index"
           class="panel panel-default">
        <div class="panel-heading">
          <span>Salesperson {{i + 1}}</span>
          <span class="glyphicon glyphicon-remove pull-right"
                *ngIf="createRefinementPeriodForm.controls.salespersons.controls.length > 1"
                (click)="removeAddress(i)"></span>
        </div>
        <div class="panel-body" [formGroupName]="i">
          <app-sales-person [salespersonlist]="salespersonslist" [group]="createRefinementPeriodForm.controls.salespersons.controls[i]"></app-sales-person>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-20">
    <button type="button" class="btn btn-danger" (click)="addSalesPerson()">Add Salesreps</button>
  </div>
</div>
